body {
    background-color: #0099cc
    font: 18px/30px Sans-serif;
  }

  #mc_embed_signup {
    background:#ff9933; 
    font:14px Helvetica,Arial,sans-serif; 
    position:relative;
    z-index: 1000;
  }

  section {
    overflow: hidden;
  }
  
  #intro { 
    background: url(../assets/pattern.png); 
    margin-top: 52px;
  }

    #intro h1 {
      height: 26px;
      margin-top:50px;
      margin-bottom: 50px;
      text-align: center;
      color:white;
    }

    #intro p {
      position: relative; top: 200px; left: 100px;
      width: 200px; margin: 0 0 30px 0;
    }
    #intro p:nth-child(2) {
      font-weight: bold;
    }

    .deroule{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }

    #allumette{
      width:400px;
    }
    #cigarette{
      position:relative;
      padding-top: 20px;
      z-index:0;
    }
    #pack{
      position:relative;
      z-index:+1;
      margin-top:150px;
    }
    #pack_lock{
      position:relative;
      z-index:+2;
    }
    #logo{
      width:400px;
      padding-top: 50px;
    }
    #phone_pack{
      width:250px;
      padding-top: 30px;
    }

  #team {
    background: url(../assets/equipe_hold_it.jpg);
    background-size:cover;
    height:900px;
  }
    #team h1 {
      height: 26px;
      margin-top:50px;
      margin-bottom: 50px;
      text-align: center;
      color:#ff9933;
    }

  a: link {
  	color:blue
  }
  a: visited {
  	color:purple
  }

}